<h1> Add a job </h1>

<%= simple_form_for @job do |f| %>

<%= f.input :category, :label => "職務分類" %>
<%= f.input :title %>
<%= f.input :description %>
<%= f.input :city, :label => "所在城市" %>
<%= f.input :company, :label => "公司名稱" %>
<%= f.input :wage_lower_bound, :label => "薪資下限" %>
<%= f.input :wage_upper_bound, :label => "薪資上限" %>
<%= f.input :contact_email %>
<%= f.input :is_hidden %>

  <%= f.submit "Submit" %>
<% end %>
