<div class="jumbotron">
 <h1 class="title">AnDjob</h1>
 <p class="slogan">Art & Design Jobs
 <br>
 一份好工作給藝術或設計工作者的你
 <br>

 </p>
 <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">瀏覽職缺</a></p>
</div>

<section>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">藝術</h2>
        <p class="lead">
          <br />藝術創作
          <br />圖文插畫
          <br />攝影
          <br />文學
          <br />音樂
          <br />舞蹈
          <br />戲劇/電影/舞台/劇場
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'http://ww1.sinaimg.cn/large/006tNbRwgy1fevsiy45jcj31kw11ynl8.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">設計</h2>
        <p class="lead"><p class="lead">
          <br />工業
          <br />視覺
          <br />時尚
          <br />數位媒體
          <br />建築/室內
          <br />都市/景觀
        </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'http://ww4.sinaimg.cn/large/006tNbRwgy1fevsj0qar9j31kw16ohdt.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
</section>

<!--======== 热门职位 =========-->
<!--
        <section id="genius" class="our-experts">
          <div class="container">
            <div class="col-md-8 col-md-offset-2">
              <div class="row">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="section-title">热门职位</h2>
                    <div class="short-line"></div>
                  </div>
                </div>
                  <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 category-list">
                          <%= link_to jobs_path(:category => "技术") do %>
                            <div class="expert-box">
                                <%= image_tag("category_01.png") %>
                            </div>
                            <div>
                              <h3>技术</h3>
                              <p>Technology</p>
                            </div>
                          <% end %>
                        </div>
                        <div class="col-md-3 category-list">
                          <%= link_to jobs_path(:category => "产品") do %>
                            <div class="expert-box">
                                <%= image_tag("category_02.png") %>
                            </div>
                            <div>
                              <h3>产品</h3>
                              <p>Product</p>
                            </div>
                          <% end %>
                        </div>
                        <div class="col-md-3 category-list">
                          <%= link_to jobs_path(:category => "设计") do %>
                            <div class="expert-box">
                                <%= image_tag("category_03.png") %>
                            </div>
                            <div>
                              <h3>设计</h3>
                              <p>Design</p>
                            </div>
                          <% end %>
                        </div>
                        <div class="col-md-3 category-list">
                          <%= link_to jobs_path(:category => "运营") do %>
                            <div class="expert-box">
                                <%= image_tag("category_04.png") %>
                            </div>
                            <div>
                              <h3>运营</h3>
                              <p>Operation</p>
                            </div>
                          <% end %>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-md-3 category-list">
                        <%= link_to jobs_path(:category => "市场") do %>
                          <div class="expert-box">
                              <%= image_tag("category_05.png") %>
                          </div>
                          <div>
                            <h3>市场</h3>
                            <p>Marketing</p>
                          </div>
                        <% end %>
                      </div>
                      <div class="col-md-3 category-list">
                        <%= link_to jobs_path(:category => "销售") do %>
                          <div class="expert-box">
                              <%= image_tag("category_06.png") %>
                          </div>
                          <div>
                            <h3>销售</h3>
                            <p>Sales</p>
                          </div>
                        <% end %>
                      </div>
                      <div class="col-md-3 category-list">
                        <%= link_to jobs_path(:category => "职能") do %>
                          <div class="expert-box">
                              <%= image_tag("category_07.png") %>
                          </div>
                          <div>
                            <h3>职能</h3>
                            <p>Office</p>
                          </div>
                        <% end %>
                      </div>
                      <div class="col-md-3 category-list">
                        <%= link_to jobs_path , class: "category_all" do %>
                          <div class="expert-box">
                              <%= image_tag("category_08.png") %>
                          </div>
                          <div>
                            <h3>所有职位</h3>
                            <p>All Jobs</p>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </section>
        <!--======== end 热门职位 =========-->
